@font-face {
  font-family: "Condensed";
  src: url("~/assets/fonts/tcceb.ttf");
}

:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --small-gap: 15px;
  font-size: 20px;
  color: #fff;
}

html, body {
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: cornflowerblue;
  cursor: pointer;
  text-decoration: underline;
}

a:hover {
  color: orange;
}

body {
  font-family: Condensed, sans-serif;
  background: linear-gradient(#372563, #021333) fixed;
  margin: 0;
}

button, a.button {
  padding: var(--small-gap);
  border: none;
  transform: skew(-5deg);
  font-size: .9em;
  color: white;
  text-decoration: none;
  background-color: #1778b9;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

button:focus-visible, a.button:focus-visible {
  outline: 2px solid white
}

button:not(:disabled) {
  cursor: pointer
}

button:hover:not(:disabled), a.button:hover:not(:disabled) {
  background-color: #409ad6
}

button:disabled, a.button:disabled {
  background-color: #3b7ba2
}

input, select, textarea, button {
  font-family: inherit;
}
